body {
    background-color: lightcyan;
}
#Website {
    text-align: right;
    margin-top: 70px;
    word-spacing: 10px;
    margin-right: 170px;
    text-decoration: none;
a {
    text-decoration: none;
}
}
.logo {
    width: 150px;
    margin-left: 300px;
}
.form{
    margin-top: 10px;
    position: absolute;
    left: 20%;
    font-size: larger;
    box-shadow: 2px 8px 8px;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    background-color: white;
}
.info {
    color: blue;
    padding-left: 3px;
}
.button {
    background-color: #bd0f0f;
    color: white;
    border: none;
    height: 25px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-top: 1050px;
    position: absolute;
    left: 50%;
}
.button:hover {
opacity:0.8;
}
.button:active {
opacity: 0.4;
}
/* .copyright {
    background-color: blueviolet;
    margin-top: 700px;
    height: 50px;
    width: 1500px;
    text-align: center;
    color: white;
    font-weight: 200px;
} */